%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8", content: "initial-scale=1.0, width=device-width", name: "viewport"}/
    = javascript_include_tag 'https://js.api.here.com/v3/3.1/mapsjs-core.js'
    = javascript_include_tag 'https://js.api.here.com/v3/3.1/mapsjs-service.js'
    = javascript_include_tag 'https://js.api.here.com/v3/3.1/mapsjs-ui.js'
    = javascript_include_tag 'https://js.api.here.com/v3/3.1/mapsjs-mapevents.js'
    %link{href: "https://js.api.here.com/v3/3.1/mapsjs-ui.css", rel: "stylesheet", type: "text/css"}/
  %body
    #mapContainer{style: "width: 50vw; height: 50vh"}
    = javascript_pack_tag 'taimoor'
    
